// ––––––––––––––––––––––––––––––––––––––––––––––––––
// NEW NAMED COLOURS
$cardinal: #D40D47;
$berry: #555390;
$bondi-blue: #2AABCE;
$carmin: #89143A;
$amber: #FABB2E;
$bondi-blue-hover: #1C95B6;
$white: #FFFFFF;
$pale: #F3F6F6;
$light-gray: #D2D9DA;
$medium-gray: #A2ACAD;
$gray: #68757B;
$dark-gray: #2D353A;
$promo-gray: #EBEDED;
$black: #000000;
$error-red: #D0021B;
$warning-orange: #FF9100;
$validation-green: #6FB616;

$modal-mask: rgba(45, 53, 58, 0.44);
