// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.o-button,
button,
[type="submit"] {
  width: 100%;
  background-color: $bondi-blue;
  color: $white;
  margin-bottom: $base-whitespace;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  height: 6rem;
  padding: 1rem 3rem;
  line-height: 2.1;
  border-radius: 3rem;
  transition: all $transitionspeed;

  @include breakpoint(sm) {
    display: inline-block;
    width: initial;
    margin-bottom: initial;
  }

  &:focus,
  &:hover {
    background-color: $bondi-blue-hover;
    color: $white;
    outline: 0;
  }

  &.o-button-secondary {
    background-color: $white;
    border-color: $bondi-blue;
    color: $bondi-blue;

    &:focus,
    &:hover {
      background-color: $pale;
      border-color: $bondi-blue;
      color: $bondi-blue;
      outline: 0;
    }
  }

  &.o-button-icon {
    background-color: transparent;
  }

  .control-element + &.o-button-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 20px;
    padding: 0;
    margin: 0;
    &:hover {
      right: -1px;

    }
    &:active {
      right: -1px;
    }
  }

  &.o-button-link {
    background-color: transparent;
    border-color: transparent;
    color: $bondi-blue;
    font-weight: 500;
    text-decoration: none;
    padding-left:0;

    &:after {
      display: inline-block;
      margin-left: 10px;
      content: "";
      text-decoration: underline;
      background: url("../images/icon-arrow-right.svg") no-repeat;
      position: relative;
      top: 2px;
      width: 15px;
      height: 16px;
    }

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: 0;
      color: $dark-gray;
      outline: 0;
      text-decoration: none;
    }

  }
  &.o-button-small {
    height: 50px;
    padding: 1rem 2rem;
    line-height: 0;
    font-weight: normal;
    font-size: 1.6rem;
  }
  &[disabled], &.disabled {
    background-color: $pale;
    border: transparent;
    color: $light-gray;
    cursor: default;
    &:focus,
    &:hover {
      color: $light-gray;
    }
  }
}


.button {
  .button_icon {

  }
  .button_icon-savings {

  }
  .button_icon-invest {

  }

}
