$containerwidth: 80%;
$base-whitespace: 10px;

$bp-large: 1024px;
$bp-medium: 800px;
$bp-small: 640px;

// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$cardinal    : #D40D47;
$berry       : #555390;
$bondi-blue  : #2AABCE;
$carmin      : #89143A;
$amber       : #FABB2E;

$white       : #FFFFFF;
$pale        : #F3F6F6;
$light-gray  : #D2D9DA;
$medium-gray : #A2ACAD;
$gray        : #68757B;
$dark-gray   : #2D353A;

$promo-gray  : #EBEDED;

$black       : #000000;

$color-initial: #fff ;
$color-primary: $cardinal;
$color-secondary: $bondi-blue ;
