<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="build/css/main.css">
  <style>
    .rdow {
      border-top: dashed green 1px;
    }

    .coludmn {
      border-left: dashed red 1px;
    }
  </style>

  <title>my</title>
</head>

<body class="pale">
  <div id="moneyou">
    <div class="c-navigation c-navigation-isolated">
      <img title="moneyou logo" class="o-logo" src="build/images/logo-moneyou-rondjes.svg">
    </div>

    <div class="o-container">
      <div class="o-section o-section-background o-section-framed u-padding-5">
        <div class="row">
          <div class="column">
            <div class="c-ideal-price-box u-margin-bottom-2">
              <div class="c-ideal-price-box-logo">
                <img title="ideal logo" src="build/images/iDeal.svg">
              </div>
              <div class="c-ideal-price-box-description">
                bol.com b.v. inzake bol.com iDEAL Payment
              </div>
              <div class="c-ideal-price-box-price">
                <span class="c-ideal-price-box-up">€</span> 53<span class="c-ideal-price-box-up">,50</span>
              </div>
            </div>

            <div class="column u-show-on-sm">
              <div class="o-section o-section-framed o-section-background u-align-center">
                <img class="o-qr-code" src="build/images/qr-code.png" alt="qr code" title="qr-code">
                <p><img class="o-loading" src="build/images/anim-processing.gif" alt="loading"> Wachten tot dat de transactie is gelukt.</p>
              </div>
            </div>

            <div class="o-section align-center-on-sm">
              <div class="on-desktop-device">
                <h3>Betalen met je Moneyou app</h3>
                <p class="u-margin-bottom-2">Open de Moneyou app op je smartphone of tablet en kies de QR scanner. Scan de QR code om te betalen.</p>

                <p class="u-margin-bottom-3">Hulp nodig? <a href="#">kijk bij onze tips</a></p>

                <div class="u-margin-bottom-2">
                  <button class="o-button o-button-secondary" id="show-modal" @click="showModal = true">Annuleer</button>
                    <!-- use the modal component, pass in the prop -->
                    <modal v-if="showModal" @close="showModal = false" class="u-align-center">

                      <div slot="header" class="modal-header">
                          <img class="o-image u-margin-bottom-2" src="build/images/ill-success.svg" title="betaling-afbreken">
                          <h3>Betaling afbreken?</h3>
                      </div>

                      <div slot="body">
                        <p>
                          Weet je zeker dat je de betaling wilt afbreken? Dan ga je terug naar de webwinkel.
                        </p>

                      </div>


                    </modal>
                </div>
              </div>
              <div class="on-mobile-device">
                <h3>Betalen met iDeal</h3>
                <p class="u-margin-bottom-2"> Open de Moneyou app op je smartphone, select de scanner en scan de QR code.</p>

                <p class="u-margin-bottom-3">Kom je er niet uit? <a href="#">Lees onze tips</a></p>

                <div class="u-margin-bottom-3">
                  <a class="o-button">Open de app</a>
                  <button class="o-button o-button-secondary" id="show-modal" @click="showModal = true">Annuleer</button>
                    <!-- use the modal component, pass in the prop -->
                    <modal v-if="showModal" @close="showModal = false" class="u-align-center">

                      <div slot="header" class="modal-header">
                          <img class="o-image u-margin-bottom-2" src="build/images/ill-success.svg" title="betaling-afbreken">
                          <h3>Betaling afbreken?</h3>
                      </div>

                      <div slot="body">
                        <p>
                          Weet je zeker dat je de betaling wilt afbreken? Als je 'ja' kiest, dan gaan je gegevens verloren en ga je terug naar de
                          webwinkel.
                        </p>

                      </div>


                    </modal>
                </div>
                <p class="u-margin-bottom-3">Kom je er niet uit? <a href="#">Lees onze tips</a></p>
              </div>

            </div>
          </div>
          <div class="column u-hide-on-sm">
            <div class="o-section o-section-framed o-section-background u-align-center">
              <img class="o-qr-code" src="build/images/qr-code.png" alt="qr code" title="qr-code">
              <p><img class="o-loading" src="build/images/anim-processing.gif" alt="loading"> Wachten tot dat de transactie is gelukt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="o-container o-section u-align-center on-mobile-device">
        <p>Heb je de Moneyou app nog niet? <br><a href="#" class="o-link">Download de app</a></p>
      </div>
    </div>
  </div>
  <!-- template for the modal component -->
  <script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-close"><button class="o-button o-button-transparent" @click="$emit('close')">
              &times;
            </button></div>
            <div class="modal-header">
              <slot name="header">

              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">

              </slot>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                <button class="o-button o-button-secondary u-margin-1" @click="$emit('close')">
                  Nee
                </button>
                <button class="o-button o-button-secondary u-margin-1" @click="cancel">
                  Ja
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>
  <script src="build/js/main.js"></script>

</body>

</html>
