


.u-align {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

.u-section {
  margin-bottom: $base-whitespace;
}
.u-section-padded {
  padding: $base-whitespace * 1.5 0;
}

/* Margin & padding helpers */

.u-margin-top-1 { margin-top: $base-whitespace; }
.u-margin-top-2 { margin-top: $base-whitespace * 2; }

.u-margin-bottom-1 { margin-bottom: $base-whitespace; }
.u-margin-bottom-2 { margin-bottom: $base-whitespace * 2; }


.u-padding-top-1 { padding-top: $base-whitespace; }
.u-padding-top-2 { padding-top: $base-whitespace * 2; }

.u-padding-bottom-1 { padding-bottom: $base-whitespace; }
.u-padding-bottom-2 { padding-bottom: $base-whitespace * 2; }
