.c-ideal {
  &-price-box {
    display:flex;
    border: solid $light-gray 1px;
    padding: $base-whitespace * 2;
    border-radius: $base-borderradius;
    align-items: center;
    justify-content: center;
    &-logo {
      width: 60px;
      padding-right:$base-whitespace;
      @include breakpoint(sm) {
        padding-right: initial;
      }
    }
    &-description {
      flex: 3;
      font-size: 1.3rem;
      margin-right: $base-whitespace;
    }
    &-up {
      font-size: 1.3rem;
      position:relative;
      top: -$base-whitespace;
    }
    &-price {
      flex: 2;
      font-size: 3rem;

      text-align: right;
    }
  }
}
