
.c-navigation {

  /* Navigation isolated is for pages like Ideal payments where there is only a logo */
  &.c-navigation-isolated {
    text-align:center;
    padding-top: $base-whitespace * 2;
    height: 6rem;
  }

  .c-navigation-logo {

  }
}
