
.c-navigation {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $white;
  height: 46px;
  width: 100%;
  box-shadow: 0 2px 6px 0 rgba(63, 63, 63, 0.08);
  z-index: $zindex-navbar;
  @include breakpoint(sm) {
    height: 60px;
  }

  /* Navigation isolated is for pages like Ideal payments where there is only a logo */
  &.c-navigation-isolated {
    text-align:center;
    padding-top: $base-whitespace * 2;
    height: 6rem;
  }

  &_logo {
    flex: 1;
    @include breakpoint(sm) {

    }
  }
  &_menu {
    flex: 1;
    @include breakpoint(sm) {



    }
    .o-list-item {
      margin-right: $base-whitespace * 2;
    }
  }
  &_care {
    flex: 1;
    line-height: 1;
    @include breakpoint(sm) {
      float:right;
      width: $base-whitespace * 20;
    }
    .c-navigation-care_customer-care {
      width: 150px;
    }
  }
}
